@(message: String)

@main("Welcome to Play") {

    <!-- Page Content -->
    <div class="container" ng-controller="MyController" class="my-controller">
        <div class="row" dir-paginate="post in allPosts | filter:q | itemsPerPage: 1" current-page="currentPage">
                <!-- Blog Entries Column -->
            <div class="col-md-8">
                @if(message != null) {
                    <div class="bs-component">
                        <div class="alert alert-dismissible alert-success">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong>Well done!</strong><a href="#" class="alert-link">
                        @message </a>.
                        </div>
                        <div id="source-button" class="btn btn-primary btn-xs" style="display : none ;">&lt; &gt;</div></div>
                }
                    <!-- First Blog Post -->
                <h2>
                    <a href="/post/{{post.id}}"> {{ post.title }}</a>
                </h2>
                <p class="lead">
                    by <a href="#">{{post.user.email}}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.date | date:dateFormat}} </p>
                <hr>
                <img class="img-responsive" src="@routes.Assets.versioned("/images/image" + "{{post.id}}" + ".jpg")" alt="">
                <hr>
                <p>{{post.content | limitTo: 240}}</p>
                <a class="btn btn-primary" href="/post/{{post.id}}">
                    Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                <hr>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">About Blog</h3>
                    </div>
                    <div class="panel-body">
                        Aenean in varius dui. Pellentesque habitant morbi tristique senectus et netus
                        et malesuada fames ac turpis egestas. Aliquam ac tempor dolor. Fusce aliquam libero metus, eu lobortis velit imperdiet eget. Pellentesque leo nunc, bibendum fermentum magna eu, feugiat elementum enim. Nulla facilisi. Praesent rhoncus rhoncus ex vel ullamcorper.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Latest Comments</h3>
                    </div>
                    @for(comment <- Comment.findLastComment()) {
                        <ul class="list-group">
                            <li class="list-group-item"><a href="@routes.PostController.getPost(comment.getPost.getId)">@comment.getContent</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>
        <dir-pagination-controls></dir-pagination-controls>
    </div>
    <div class="container">
            <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
                <!-- /.row -->
        </footer>
    </div>
}

