@(signUpForm: Form[UserController.Registration])

@main("Welcome to Play") {

    <div class="row">
        @if(signUpForm.hasErrors || signUpForm.hasGlobalErrors) {
            <div class="bs-component">
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Oh snap!</strong> <a href="#" class="alert-link">@signUpForm.errorsAsJson</a>
                </div>
            </div>
        }
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="form-signin" method="POST" action="@routes.UserController.signup()">>
                <legend>Registration form</legend>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" value='@signUpForm("email").value' id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" value='@signUpForm("password").value' id="password" name="password" class="form-control" placeholder="Password" required>
                <label for="inputPassword" class="sr-only">ConfirmPassword</label>
                <input type="password" value='@signUpForm("confirmPassword").value' id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm Registration</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div> <!-- /container -->

}